/* hamburger */

@keyframes moveOne {
    100% {
        transform: translateY(13px) rotate(45deg);
    }
}

@keyframes moveTwo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moveThree {
    100% {
        transform: translateY(-13px) rotate(-45deg);
    }
}

#hambuger {
    position: absolute;
    margin: 2%;
    z-index: 999;
    top: 0;
    right: 0;
}

#hambuger .lineWrap {
    display: flex;
    flex-direction: column;
    height: 31px;
    justify-content: space-between;
    cursor: pointer;
}

#hambuger .lineWrap .line {
    width: 50px;
    height: 5px;
    background-color: #000;
}

.activeOne {
    animation: moveOne 0.3s 1 ease-in-out;
    animation-fill-mode:both
}

.activeTwo {
    animation: moveTwo 0.3s 1 ease-in-out;
    animation-fill-mode:both
}

.activeThree {
    animation: moveThree 0.3s 1 ease-in-out;
    animation-fill-mode:both
}